<footer class="footer">
    <div class="container">
        {% if site.footer_menu %}
            <div class="columns is-multiline">
                {% for item in site.data[site.footer_menu] %}
                    <div class="column has-text-centered">
                        <div>
                            <a href="{{ item.link | relative_url }}" class="link">{{ item.name }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% include follow.html %}

        <div class="content is-small has-text-centered">
          <p>&copy; Clube do Choro de Bruxelas 2016-{{ site.time | date: "%Y" }}</p>
        </div>
    </div>
</footer>
