<nav
    class="navbar is-primary {% if site.fixed_navbar %} is-fixed-{{ site.fixed_navbar }} {% endif %}"
    x-data="{ openNav: false }"
>
    <div class="container">
        <div class="navbar-brand">
            <a href="{{ site.baseurl }}/" class="navbar-item">
              <figure class="image is-128x128">
                <img class="is-rounded" src="/img/choro_brussels.webp" />
              </figure>
            </a>
            <a
                role="button"
                class="navbar-burger burger"
                aria-label="menu"
                aria-expanded="false"
                data-target="navMenu"
                :class="{ 'is-active': openNav }"
                x-on:click="openNav = !openNav"
            >
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu" id="navMenu" :class="{ 'is-active': openNav }">
            <div class="navbar-start">
                <a href="{{ site.baseurl }}/" class="navbar-item is-tab {% if page.url == "/" %}is-active{% endif %}">Home</a>
                {% if site.data.navigation %}
                    {% for item in site.data.navigation %}
                        {% if item.dropdown %}
                            <div class="navbar-item has-dropdown is-hoverable {% if site.fixed_navbar == 'bottom' %} has-dropdown-up {% endif %}">
                                <a
                                    href="{% link_for_current_language item.link %}"
                                    class="navbar-link{% if page.url contains item.link %} is-active{% endif %}"
                                >
                                    {% t item.key %}
                                </a>
                                <div class="navbar-dropdown">
                                    {% for subitem in item.dropdown %}
                                        <a
                                            href="{% link_for_current_language subitem.link %}"
                                            class="navbar-item{% if subitem.link == page.url %} is-active{% endif %}"
                                        >
                                        {% t subitem.key %}
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% else %}
                            <a
                                href="{% link_for_current_language item.link %}"
                                class="navbar-item is-tab{% if item.link == page.url %} is-active{% endif %}"
                            >
                            {% t item.key %}
                            </a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <div class="navbar-item has-dropdown is-hoverable {% if site.fixed_navbar == 'bottom' %} has-dropdown-up {% endif %}">
                    <a
                        href="{{ item.link | relative_url }}"
                        class="navbar-link {% if page.url contains item.link %}is-active{% endif %}"
                    >
                        <i class="fa fa-language" aria-hidden="true"></i>{% t "language" %}
                    </a>
                    <div class="navbar-dropdown">
                      {% for l in site.languages %}
                      {% capture lang_href %}{{site.baseurl}}{% if l != site.default_lang %}/{{ l }}{% endif %}{% if page.permalink_lang[l] %}{{page.permalink_lang[l]}}{% elsif page.permalink_lang[site.default_lang] != "/" %}{{page.permalink_lang[site.default_lang]}}{% endif %}{% endcapture %}
                      <a
                          {% static_href -%}href="{{lang_href}}"{%- endstatic_href %}
                          class="navbar-item{% if l == site.active_lang %} is-active{% endif %}"
                      >
                        {{ site.data.language_names[l] }}
                      </a>
                {% endfor %}
                  </div>
              </div>
            </div>

            <div class="navbar-end">
                {% if site.gh_sponsor %}
                    <a class="navbar-item" href="https://github.com/sponsors/{{ site.gh_sponsor }}">
                        <span class="icon gh-sponsor"><i class="fas fa-heart"></i></span>
                        <span>Sponsor</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
