<script>
  const ics = 'https://mobilizon.be/@clube_do_choro_bruxelas/feed/ics';

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      locale: "{{site.active_lang}}",
      initialView: "threeMonthList",
      views: {
        threeMonthList: {
          duration: { days: 90 },
          type: 'list',
          buttonText: '90 days'
        }
      },
      headerToolbar: {
        left: '',
        center: 'title',
        right: 'prev,next'
      },
      events: {
        url: ics,
        format: 'ics'
      }
    });
    calendar.render();
  });
</script>
<h1>{% t "next_events" %}</h1>
<div id='calendar'></div>
