{%- capture workshop_link -%}{%- if site.active_lang != site.default_lang -%}/{{site.active_lang}}{%- endif -%}{% link_for_current_language /ateliers %}{% endcapture %}
<script>
  const atelier_dates_2025_2026 = [
    "2025-09-13",
    "2025-09-20",
    "2025-09-27",
    "2025-10-04",
    "2025-10-11",
    "2025-10-18",
    "2025-10-25",
    "2025-11-08",
    "2025-11-22",
    "2025-11-29",
    "2025-12-06",
    "2025-12-13",
    "2025-12-20",
    "2026-01-10",
    "2026-01-17",
    "2026-01-24",
    "2026-01-31",
    "2026-02-07",
    "2026-02-14",
    "2026-02-28",
    "2026-03-07",
    "2026-03-14",
    "2026-03-21",
    "2026-03-28",
    "2026-04-04",
    "2026-04-25",
    "2026-05-09",
    "2026-05-23",
    "2026-05-30",
    "2026-06-06",
    "2026-06-13",
    "2026-06-20",
    "2026-06-27"
  ]
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('workshop_calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      locale: "{{site.active_lang}}",
      initialView: "threeMonthList",
      views: {
        threeMonthList: {
          duration: { days: 90 },
          type: 'list',
          buttonText: '90 days'
        }
      },
      headerToolbar: {
        left: '',
        center: 'title',
        right: 'prev,next'
      },
    });
    atelier_dates_2025_2026.forEach(function(e, idx) {
      atelier_beginner_start = `${e}T10:00:00`
      atelier_beginner_end = `${e}T11:30:00`
      atelier_advanced_start = `${e}T11:30:00`
      atelier_advanced_end = `${e}T13:00:00`
      calendar.addEvent({start: atelier_beginner_start, end: atelier_beginner_end, timezone: "Europe/Brussels", title: `{% t atelier_niveau_1 %} #${idx + 1}`, url: "{{ workshop_link }}"})
      calendar.addEvent({start: atelier_advanced_start, end: atelier_advanced_end, timezone: "Europe/Brussels", title: `{% t atelier_niveau_2 %} #${idx + 1}`, url: "{{ workshop_link }}"})
    })
    calendar.render();
  });
</script>
<h1>{% t "next_workshops" %}</h1>
<div id='workshop_calendar'></div>
