<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      locale: "{{site.active_lang}}",
      initialView: "threeMonthList",
      views: {
        threeMonthList: {
          duration: { days: 180 },
          type: 'list',
          buttonText: '180 days'
        }
      },
      headerToolbar: {
        left: '',
        center: 'title',
        right: 'prev,next'
      },
      events: {
        url: "events.ics",
        format: 'ics'
      }
    });
    calendar.render();
  });
</script>
<h1>{% t "next_events" %}</h1>
<div id='calendar'></div>
<noscript>
  {% assign events = "_ics_staging/events.ics" | read_calendar %}
  {% for event in events %}
  <p>
    <a href="{{event.url}}">{{ event.dtstart | date: '%Y-%m-%d %H:%M' }} - {{ event.dtend | date: '%Y-%m-%d %H:%M' }}: {{ event.summary }}</a>
  </p>
  {% endfor %}
</noscript>
