---
layout: default
---
{% if page.toc %}
    {% assign contentsTitle = page.toc_title | default: 'Contents' %}
    {% include toc.html html=content class='menu-list' h_min=2 h_max=3 contents_title=contentsTitle %}
{% endif %}
<div class="content">
    {{ content }}
</div>
{% assign musicians=site.data[site.active_lang].musicians %}
{% for musician in musicians %}
<article class="media">
  <figure class="media-left"><p class="image is-128x128"><img src="{% process_asset {{musician.image}} %}" /></p></figure>
  <div class="media-content">
    <div class="content">
      <h2>{{ musician.name }}</h2>
      {{ musician.bio | markdownify }}
    </div>
  </div>
</article>
{% endfor %}
